<html>
<head>
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style type="text/css">
		body{
			margin: 40px 80px;
			background: #f0f0f0;

			}	
		._divtab{

			margin:5px 20px 5px 250px;
			width: 100%;  

			}


		table{
			table-layout: auto;
 			 width: 100%;  

				
				margin: 20px 40px 0px 40px;
				border-collapse: collapse;
		}
		table, th, td{
				border: 2px solid #cdcdcd;
				width: 250 !important;
				height: 50px !important;
				font-weight: bold;
		}
		table th, table td{
				padding: 5px;
				width: 250 !important;
				height: 50px !important;
				text-align: left;

				font-weight: bold;
				


		

		}
		td{
			width: 250 !important;
				height: 50px !important;

			}
		.celda{
			width: 250 !important;
			height: 50px !important;

		}

		.celda1{
			width: 250 !important;
			height: 50px !important;

		}

		.celda2{
			background: #3c3c3c;
			width: 250 !important;
			height: 50px !important;

		}

		textarea {
	width: 300px;
	height: 100px;
}

</style>
<script >
	var KEY = null;
	var TABLE = null;
	var SIZE = null;
	$('#message').val(""); 
	$('#key').val("");


	function myFunction(){
		
		var file1 = document.getElementById("files1").files[0];
		var reader = new FileReader();
		if(file1 == null)
			return;
		reader.onload = function (e) {
				var textArea = document.getElementById("message");
				textArea.value = e.target.result;							
		};		
		reader.readAsText(file1);


		var file2 = document.getElementById("files2").files[0];
		if(file2 == null)
			return;
		var reader = new FileReader();
		reader.onload = function (e) {
				var textArea = document.getElementById("key");
				textArea.value = e.target.result;							
		};		
		reader.readAsText(file2);	
		
	}


	function encriptar(){

		var _message = $('#message').val();  
		var _size = $('#input_number').val();
		
		if (_message == null || _message.length<=0 ||  _message==" " ){
			alert("CARGE ARCHIVO DEL MENSAJE");
			return;
		}

		if (  _size==null ||  _size<=1 ){
			alert("TAMAÑO DE CLAVE NO VALIDA!");
			return;
		}		

		var dict = null;
		var rotations = null;
		$.ajax({
			url: "{% url 'cifrado:cipher'  %}",     
			data: {
					'message': _message,
					'size': _size,  
			},
			type: 'GET',
			success: function(data) {

				$('table').remove();
				$('h3').remove();
				$('h4').remove();

				dict = JSON.parse(data);
				if ("error" in dict){
					alert(dict['error'])
					$('#message2').val("");					
				}
				else{
				   table = dict['table'];
				   keys =  dict['keys']; 
				   ciphers = dict['ciphers'];
				   cipher = dict['cipher']; 

					displayTable(table, _size, "here_table","ENCRIPTADO" );
					
					KEY = keys['rotate0'];
					TABLE = dict['table'];
					SIZE = _size;

					displayTableWithKey(table, _size, keys['rotate0'] , "rotate0",ciphers);
					displayTableWithKey(table, _size, keys['rotate1'] , "rotate1",ciphers);
					displayTableWithKey(table, _size, keys['rotate2'] , "rotate2",ciphers);
					displayTableWithKey(table, _size, keys['rotate3'] , "rotate3",ciphers);					 

					$('#message').val(dict['preproc']);
					$('#message2').val(cipher);
					downloads("cipher");
					
					
				}
			},
			failure: function(data) { 
					alert('Got an error dude');
			}
		}); 
	}



	function displayTableWithKey(_table,_size,_key,_elem,_ciphers){
			 
		var content = "<h3 style='font-weight:bold;'> "+ "Rotacion"+ _elem.substr(6,1) +"</h3>";
		content += "<table class='table table-condensed table-hover table-striped'>";
		for(i=0; i<_size; i++){
			content += '<tr>';
			for(j=0; j<_size; j++){
				var _k = i.toString()+"-"+j.toString(); 
				if (_k in _key){
					content += "<td class='celda1'>" +  _table[i][j]+ "</td>";
				}
				else{
					content += "<td class='celda2'>" +  "__"+ "</td>";
				}					
			}
			content += '</tr>';
		}

		content += "</table>";
		content += "<h4> Mensaje parcial: " + _ciphers[_elem] + " </h4>";
		$('#'+_elem).append(content);
	}		

	function displayTable(_table,_size,_elem, _title){

		var content = "<h3 style='font-weight:bold;' > "+ _title +" </h3> ";
			 
		content += "<table >";
		for(i=0; i<_size; i++){
			content += '<tr>';
			for(j=0; j<_size; j++){
				content += "<td class='celda'>" +  _table[i][j]+ "</td>";
			}
			content += '</tr>';
		}

		content += "</table>";
		$('#'+_elem).append(content);
	}

	function displayTableDes(_message, _size, _elem, _key){

		var content = "<h3 style='font-weight:bold;'> "+ "Rotacion"+ _elem.substr(6,1) +"</h3>";
		content += "<table class='table table-condensed table-hover table-striped'>";
			 
		content += "<table >";
		var index = 0;
		for(i=0; i<_size; i++){
			content += '<tr>';
			for(j=0; j<_size; j++){
				var _k = i.toString()+"-"+j.toString(); 
				if ((_k in _key) && (index < _message.length)){
					content += "<td class='celda1'>" +  _message[index]+ "</td>";
					index += 1;
				}
				else{
					content += "<td class='celda2'>" +  "__"+ "</td>";
				}
			}
			content += '</tr>';
		}

		content += "</table>";
		content += "<h4> Mensaje parcial: " + _message + " </h4>";
		$('#'+_elem).append(content);
	}

	function downloads(_key){

		var _urls_down =  {
			'descipher': "{% url 'cifrado:down_descipher'  %}" ,
			'key': "{% url 'cifrado:down_key'  %}",
			'cipher': "{% url 'cifrado:down_cipher'  %}",
		};

		if (!(_key in  _urls_down)){
			return;
		}

		$.ajax({
			url: _urls_down[_key],     
			data: {},
			type: 'GET',
			success: function(data) {

				window.location =  _urls_down[_key];	
			},
			failure: function(data) { 
					alert('Ocurrio un Error!');
			}
		}); 

	}

	function desencriptar(){

		_message = $('#message').val();  
		_key = $('#key').val();

		
		if (_message.length<=0 ||  _message==" " ){
			alert("CARGE ARCHIVO DEL MENSAJE");
			return;
		}

		if (_key.length<=0 ||  _key==" " ){
			alert("CARGE ARCHIVO DE LA CLAVE !");
			return;
		}

		$.ajax({
			url: "{% url 'cifrado:descipher'  %}",     
			data: {
					'message': _message,
					'key': _key,
				},
			type: 'GET',
			success: function(data) {
				$('table').remove();
				$('h3').remove();
				$('h4').remove();
				dict = JSON.parse(data);

				if ("error" in dict){
					alert(dict['error'])
					$('#message2').val("");					
				}
				else{
								
					tabs = dict['tabs'];
					size = dict['size'] ;
					message = dict['message'];
				   table = dict['table'] ;
				   keys = dict['keys'];
				   desciphers = dict['desciphers'];
				   descipher = dict['descipher'];
				   displayTable(table,size,"here_table","DESENCRIPTADO" );

					displayTableDes(desciphers['rotate0'], size, "rotate0", keys['rotate0']);
					displayTableDes(desciphers['rotate1'], size, "rotate1", keys['rotate1']);			
					displayTableDes(desciphers['rotate2'], size, "rotate2", keys['rotate2']);
					displayTableDes(desciphers['rotate3'], size, "rotate3", keys['rotate3']);				  

					$('#message2').val("");
					$('#message2').val(descipher);
					downloads("descipher");
				}
				
			},
			failure: function(data) { 
					alert('Ocurrio un Error!');
			}
		}); 
	}	


</script>
</head>
	<body>
		<div style="width:100%;">

			<h1 style="text-align:center;font-weight:bold;" > ALGORITMO POR REJILLAS</h1>
			<div style="margin: 50px 0px 0px 0px;">
				<span>
				<label> Tamaño de Rejilla: </label>
				<input  style="margin: 0px 5px;" type="number" id="input_number" />
				<button type="button" class="btn btn-primary"  id="btn" onclick="myFunction()" >Cargar File</button>
				<button type="button" class="btn btn-success"  id="btn_enc" onclick="encriptar()" >Encriptar</button>    
				<button type="button" class="btn btn-info"  id="btn_des" onclick="desencriptar()" >Desencriptar</button>

				<button type="button" class="btn btn-danger"  id="btn_down" onclick="downloads('key')" >Download Key</button>
				</span>
			</div>
			<br>

			<div >
				<div>
					<span> <label> Mensaje: </label><input type="file" id="files1"/>				</span>	
				</div>
				<div  style="margin:5px 0px;">	
					<span> <label> Clave: </label> <input type="file" id="files2"/></span>
				</div>
				<br>
				<div style="float:left;" >	
					<label> Mensaje: </label><br>
					<textarea readonly id="message"> </textarea> <br>
					<textarea  id="key"  style="display:none;"> </textarea> <br>
				</div>
				<div style="margin:0px 0px 0px 20px;">	
					<label> Mensaje Encriptado/Desencriptado: </label><br>
					<textarea readonly id="message2"> </textarea> <br>
				</div>
				
				<br>
			</div>
	
		</div>

		<div  class="_divtab"  id="here_table">
		</div>

		<div class="_divtab"   id="rotate0">
		</div>

		<div class="_divtab" id="rotate1">
		</div>

		<div class="_divtab"  id="rotate2">
		</div>

		<div  class="_divtab"  id="rotate3">
		</div>	


	</body>


</html>